@font-face {
  font-family: "iconfont"; /* Project id 2529993 */
  src: url('./iconfont.woff2?t=1620373947288') format('woff2'),
       url('./iconfont.woff?t=1620373947288') format('woff'),
       url('./iconfont.ttf?t=1620373947288') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconspin:before {
  content: "\e851";
}

.iconiconset0137:before {
  content: "\e624";
}

.iconfangdajing:before {
  content: "\e614";
}

.iconAa:before {
  content: "\e636";
}

